{
  "plugins": [
    "@babel",
    "promise",
    "jsdoc"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended"
  ],
  "env": {
    "browser": true,
    "es2020": true,
    "amd": true
  },
  "globals": {
    "M": true,
    "Y": true
  },
  "reportUnusedDisableDirectives": true,
  "rules": {
    "comma-dangle": "off",
    "no-console": "error",
    "no-empty": "warn",
    "no-extra-parens": "off",
    "no-prototype-builtins": "off",
    "no-unreachable": "warn",
    "array-callback-return": "warn",
    "block-scoped-var": "warn",
    "complexity": "warn",
    "consistent-return": "warn",
    "curly": "error",
    "dot-notation": "warn",
    "no-alert": "warn",
    "no-caller": "error",
    "no-div-regex": "error",
    "no-empty-function": "warn",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "warn",
    "no-floating-decimal": "warn",
    "no-global-assign": "warn",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "warn",
    "no-multi-str": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-redeclare": "warn",
    "no-restricted-globals": ["error", { "name": "Notification" }],
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "warn",
    "no-throw-literal": "warn",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "warn",
    "no-useless-escape": "warn",
    "wrap-iife": ["error", "any"],
    "no-undef-init": "error",
    "no-unused-vars": ["error", { "caughtErrors": "none" }],
    "array-bracket-spacing": "warn",
    "block-spacing": "warn",
    "brace-style": ["warn", "1tbs"],
    "camelcase": "warn",
    "capitalized-comments": ["warn", "always", { "ignoreConsecutiveComments": true }],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "comma-style": ["warn", "last"],
    "computed-property-spacing": "error",
    "consistent-this": "off",
    "eol-last": "off",
    "func-call-spacing": ["warn", "never"],
    "func-names": "off",
    "func-style": "off",
    "indent": ["off", 4, { "SwitchCase": 1 }],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true, "mode": "minimum" }],
    "keyword-spacing": "warn"
  }
}

